* { padding: 0; margin: 0; } 

h1 {
	font-family: 'Roboto', sans-serif;
	color: #0095DD;
	text-decoration: underline;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

ul {
	font-family: 'Roboto', sans-serif;
	color: #0095DD;
	text-align: center;
}

h3 {
	font-family: 'Roboto', sans-serif;
	color: #0095DD;
	text-align: center;
	margin-top: 20px;
}

canvas { 
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    border: 5px solid #0095DD;
}